/*Basic Scaling UI*/
* {
  box-sizing: border-box;
}
body {
  background-color: #e8e097;
  font-family: "Sans-Serif", sans-serif;
} 
.homebutton { 
  /* Rounded Corners */
  border: 5px solid #5C4033;
  border-radius: 12px;
  /*Other Button settings*/
  background-color:#e8e097;
  text-decoration:none;
  cursor:pointer;
}
.homebutton:hover {
  background-color:#f1f1f1;
}
.container {
  grid-column: col-start / span 12;
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  gap: 15px;
}
.content {
  grid-column: col-start / span 12;
  border: 10px solid #5C4033;
  background-color: #e8e097;
  text-align: center;
}
.head {
  grid-column: col-start / span 12;
  text-align: center;
  color: #ffffff;
  font-size: 30px;
  border: 0px;
  background-color: #d4c96c;
  padding: 0;
}
/*Positions*/
div.Leaderscore {  
  text-align: center;
}
div.ShowMoney, 
div.ShowMPS, 
div.lngheader, 
div.ShowMPC {
  text-align: center;
  position: relative; 
}
div.lngheader {
  font-size: 25px;
}
div.ShowMPC {
  padding: 15px;
}

/*Screen Scaling*/
body{
  @media (min-width: 251px) {
    .button {
  	  font-size: 5.34vw;
    }	
    .content {
  	  height: 600px;
      padding: 25px;
    }
    nav {
      grid-column: col-start / span 12;
    }
  }
  @media (min-width: 576px) {
    .button {
  	  font-size: 5vw;
    }	
    .content {
  	  height: 600px;
      padding: 25px;
    }
    nav {
      grid-column: col-start / span 12;
    }
  }
  @media (min-width: 837px) {
    .button {
  	  font-size: 4.67vw;
    }	
    .content {
  	  height: 600px;
      padding: 25px;
    }
    nav {
      grid-column: col-start / span 12;
    }
  }
  @media (min-width: 999px) {
   .button {
     	font-size: 4vw;
   }	
   .content {
    	height: 600px;
      padding: 25px;
    }
    nav {
      grid-column: col-start / span 12;
    }
  }
  @media (min-width: 1200px) {
   .button {
    	font-size: 3.5vw;
    }	
    .content {
  	  height: 600px;
      padding: 25px;
    }
    nav {
      grid-column: 2 / span 10;
    }
  }
  @media (min-width: 1450px) {
    .button {
  	  font-size: 3vw;
    }	
    .content {
  	  height: 600px;
      padding: 25px;
    }
    nav {
      grid-column: 2 / span 10;
    }
  }
  @media (min-width: 1900px) {
    .button {
  	  font-size: 2vw;
    }	
    .content {
  	  height: 600px;
      padding: 25px;
    }
    nav {
      grid-column: 2 / span 10;
    }
  }
}
