* {
  box-sizing: border-box;
}
body {
  background-color: #e8e097;
  font-family: "Sans-Serif", sans-serif;
} 
.container > * {
  grid-column: col-start / span 12;
}
.container {
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  gap: 15px;
}
.content {
  border: 10px solid #5C4033;
  background-color: #e8e097;
}

nav ul {
  list-style: none;  
  background-color: #e8e097;
  margin: 0;
  justify-content: space-between;
  padding: 10px;  
  display: flex;
  flex-direction: row;
  text-align: center;
  width: 100%;
}
.head {
  text-align: center;
  color: #ffffff;
  font-size: 30px;
  border: 0px;
  background-color: #d4c96c;
  padding: 0;
}
