body {
  background-color: #050507;
  font-family: "Sans-Serif", sans-serif;
  background-image: url("PNGs/zaworldo.png");
  background-repeat: no-repeat;
  background-position: center 0vh;
  background-size: 50vw 100vh;
}

.logbutton {
  background-color:#e8e097;
  padding:10px 20px;
  text-decoration:none;
  text-align:center;
  cursor:pointer;
  /* Rounded Corners */
  border: 5px solid #5C4033;
  border-radius: 12px;
}
.logbutton:hover {
  background-color:#f1f1f1;
}

header {
  background-color: #d4c96c;
  text-align: center;
  margin: 0;
  position: relative;
  margin-top:25vh;
}
