body{
  @media (min-width: 251px) {
    .button {
  	  font-size: 5.34vw;
    }	
    .content {
  	  height: 600px;
      padding: 8.5px;
    }
  }
  @media (min-width: 576px) {
    .button {
  	  font-size: 5vw;
    }	
    .content {
  	  height: 600px;
      padding: 15px;
    }
  }
  @media (min-width: 837px) {
    .button {
  	  font-size: 4.67vw;
    }	
    .content {
  	  height: 600px;
      padding: 15px;
    }
  }
  @media (min-width: 999px) {
   .button {
     	font-size: 4vw;
   }	
   .content {
    	height: 600px;
      padding: 15px;
    }
  }
  @media (min-width: 1200px) {
   .button {
    	font-size: 3.5vw;
    }	
    .content {
  	  height: 600px;
      padding: 15px;
    }
  }
  @media (min-width: 1450px) {
    .button {
  	  font-size: 3vw;
    }	
    .content {
  	  height: 600px;
      padding: 15px;
    }
  }
  @media (min-width: 1900px) {
    .button {
  	  font-size: 2vw;
    }	
    .content {
  	  height: 600px;
      padding: 15px;
    }
  }
}
