* {
  box-sizing: border-box;
}
body {
  background-color: #e8e097;
  font-family: "Sans-Serif", sans-serif;
} 
.container {
  grid-column: col-start / span 12;
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  gap: 15px;
}
.content {
  grid-column: col-start / span 12;
  border: 10px solid #5C4033;
  background-color: #e8e097;
  text-align: center;
}
/*PROFILE TELEPORTER*/
.highlight {
  float: right;
  border-radius: 50%;
}
.highlight img {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  padding: 7.5px;
}


/*INDEX TELEPORTER*/
.homebutton {
  float: left;
}
.homebutton img {
  padding: 10px;
}
nav {
  grid-template-columns: repeat(12, [col-start] 1fr);
}
nav ul {
  list-style: none;  
  background-color: #e8e097;
  margin: 0;
  justify-content: space-between;
  padding: 10px;  
  display: flex;
  flex-direction: row;
  text-align: center;
  width: 100%;
}

/* header */
.head {
  grid-column: col-start / span 12;
  text-align: center;
  color: #ffffff;
  font-size: 30px;
  border: 0px;
  background-color: #d4c96c;
  padding: 0;
  position: relative;
}

/* corner links */
.corner-link {
  position: absolute;
  top: 10px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-decoration: none;
  border: none;
}
.corner-left {
  left: 20px;
}
.corner-right {
  right: 20px;
}

/*Login + Signup*/
h1 {
  text-align: center;
  margin-top: 50px;
}
.inputboxes {
  text-align: center;
}
.rowofitems {
  text-align: center;
  position: relative;
  right: 5px;
}
.logtxt {
  text-align: center;
  position: relative;
  right: 47px
}
.logtxt br { /*gets rid of any line breaks*/
  display: none; 
}
.sumbit_button {
  text-align: center;
  position: relative;
  left: 67px
}


/*Profile Picture and Dropdown*/
.ProfileBox .pfp {
  width: 40px;
  height: 40px;
  background: #fff;
  border-radius: 50%;
  line-height: 40px;
  text-align: center;
  fontsize: 25px;
  color: #222;
  font-weight: 600;
  cursor: pointer;
}

.ProfileBox .dropdown {
  position: absolute;
  top: 85px;
  right: 100px;
  padding: 10px;
  background: #fff;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  transform: translateY(20px);  /*makes the dropdown look like its moving*/
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
}

.ProfileBox.show .dropdown {
  transform: translateY(0);
  opacity: 1;
  pointer-events: auto;
}

.ProfileBox .dropdown a {
  padding: 6px 12px;
  border-radius: 4px;
  color: #222;
  text-direction: none;
  font-weight: 500;
  margin: 2px 0;
  transition: 0.2s;
}

.ProfileBox .dropdown a:hover {
  background: #eee;
}






