* {
  box-sizing: border-box;
}
body {
  background-color: #e8e097;
  font-family: "Sans-Serif", sans-serif;
} 
.container {
  grid-column: col-start / span 12;
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  gap: 15px;
}
.content {
  grid-column: col-start / span 12;
  border: 10px solid #5C4033;
  background-color: #e8e097;
  text-align: center;
}
/*PROFILE TELEPORTER*/
.highlight {
  float: right;
  border-radius: 50%;
}
.highlight img {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  padding: 7.5px;
}


/*INDEX TELEPORTER*/
.homebutton {
  float: left;
}
.homebutton img {
  padding: 10px;
}
nav {
  grid-template-columns: repeat(12, [col-start] 1fr);
}
nav ul {
  list-style: none;  
  background-color: #e8e097;
  margin: 0;
  justify-content: space-between;
  padding: 10px;  
  display: flex;
  flex-direction: row;
  text-align: center;
  width: 100%;
}

/* header */
.head {
  grid-column: col-start / span 12;
  text-align: center;
  color: #ffffff;
  font-size: 30px;
  border: 0px;
  background-color: #d4c96c;
  padding: 0;
  position: relative;
}

/* corner links */
.corner-link {
  position: absolute;
  top: 10px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-decoration: none;
  border: none;
}
.corner-left {
  left: 20px;
}
.corner-right {
  right: 90px;
  position: absolute;
  top: 35px;
}

/*Login + Signup*/
h1 {
  text-align: center;
  margin-top: 50px;
}
.inputboxes {
  text-align: center;
}
.rowofitems {
  text-align: center;
  position: relative;
  right: 5px;
}
.logtxt {
  text-align: center;
  position: relative;
  right: 47px
}
.logtxt br { /*gets rid of any line breaks*/
  display: none; 
}
.sumbit_button {
  text-align: center;
  position: relative;
  left: 67px
}


/*Profile Picture and Dropdown*/
.ProfileBox .pfp {
  width: 75px;
  height: 75px;
  user-select: none;
  background: #fff;
  border-radius: 50%;
  line-height: 75px;
  text-align: center;
  font-size: 35px;
  color: #222;
  font-weight: 600;
  cursor: pointer;
}

.ProfileBox .dropdown {
  position: absolute;
  top: 80px;
  right: -0.8px;
  padding: 10px;
  background: #fff;
  border-radius: 8px;
  display: flex;
  white-space: nowrap;
  flex-direction: column;
  transform: translateY(20px);  /*makes the dropdown look like its moving*/
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
}

.ProfileBox.show .dropdown {
  transform: translateY(0);
  opacity: 1;
  pointer-events: auto;
}

.ProfileBox .dropdown a {
  padding: 12px 35px;
  border-radius: 4px;
  color: #222;
  text-direction: none;
  font-weight: bold;
  margin: 2px 0;
  transition: 0.2s;
  font-size: 25px;
  text-decoration: none
}

.ProfileBox .dropdown a:hover {
  background: #eee;
}

.alert-box {
  position: fixed;
  inset: 0;
  top: 35px;
  margin: 0 auto;
  width: 350px;
  height: 70px;
  background: #fff;
  border-radius: 6px;
  padding: 0 15px;
  z-index: 100;
  overflow: hidden;
  transform: translateY(calc(-100% - 35px));
  transition: 0.5s ease;
}

.alert-box.show {
  transform: translateY(0);
}

.alert {
  display: flex;
  align-items: center;
  height: 100%;
  color: #222;
  font-weight: 500;
}

.alert::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background: #0abf30;
  animation: progress 6s linear forwards;
}

.alert.error::after {
  background: #f00;
}

@keyframes progress {
  100%  {
    width: 0;
  }
}

.alert i {
  font-size: 35px;
  color: #0abf30;
  margin-right: 8px;
}

.alert.error i {
  color: #f00;
}




