html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
body {
  background-image: url("PNGs/background.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #e8e097;
} 

.highlight {
  float: right;
  border-radius: 50%;
}
.highlight img {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  padding: 7.5px;
}
  
.homebutton {
  float: left;
}
.homebutton img {
  padding: 10px;
}
