/*BACKGROUND IMAGE*/
html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
body {
  background-image: url("PNGs/background.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #e8e097;
} 



/*PROFILE TELEPORTER*/
.highlight {
  float: right;
  border-radius: 50%;
}
.highlight img {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  padding: 7.5px;
}



/*INDEX TELEPORTER*/
.homebutton {
  float: left;
}
.homebutton img {
  padding: 10px;
}



/*BUTTON'S GROUP*/
.button1 {background-color: #e8e097;}
.button2 {background-color: #e8e097;}
.button3 {background-color: #e8e097;}
.button4 {background-color: #e8e097;}
.button5 {background-color: #e8e097;}
.btn-group {
  display: flex;
  flex-wrap: wrap;
}
.button {
  background-color: #e8e097;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}
.btn-group .button:hover {
  background-color: #e0d994;
