/*BACKGROUND IMAGE*/
html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
body {
  background-image: url("PNGs/background.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #e8e097;
} 



/*PROFILE TELEPORTER*/
.highlight {
  float: right;
  border-radius: 50%;
}
.highlight img {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  padding: 7.5px;
}



/*INDEX TELEPORTER*/
.homebutton {
  float: left;
}
.homebutton img {
  padding: 10px;
}



/*BUTTON'S GROUP*/
.button1 {background-color: #e8e097;
  position: absolute;
  top: 10%;
  left: 20%;
  transform: translate(-50.5%, -49.8%);
}
.button2 {background-color: #e8e097;
  position: absolute;
  top: 10%;
  left: 35%;
  transform: translate(-50.5%, -49.8%);
}
.button3 {background-color: #e8e097;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50.5%, -49.8%);
}
.button4 {background-color: #e8e097;
  position: absolute;
  top: 10%;
  left: 65%;
  transform: translate(-50.5%, -49.8%);
}
.button5 {background-color: #e8e097;
  position: absolute;
  top: 10%;
  left: 80%;
  transform: translate(-50.5%, -49.8%);
}
.btn-group {
  display: flex;
  flex-wrap: wrap;
}
.button {
  background-color: #e8e097;
  border: none;
  color: white;
  padding: 20px 40px;
  text-align: center;
  text-decoration: none;
  font-size: 32px;
  cursor: pointer;
}
.btn-group .button:hover {
  background-color: #e0d994;

  
.realbutton {
  display: inline-block;
  position: center;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #04AA6D;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}
.realbutton:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
