html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
body {
  background-image: url("PNGs/background.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #e8e097;
} 

.highlight {
  float: right;
  img {
  border-radius: 50%;
  }
  border-radius: 50%;
  border: 5px solid #4287f5;
}
  
  
